name: motiv_educ
description: Application de prédiction étudiante
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  # HTTP & API
  http: ^1.1.0
  
  # State Management
  provider: ^6.0.5
  
  # UI Components
  percent_indicator: ^4.2.3
  
  # Storage
  shared_preferences: ^2.2.2
  
  # Localization - RETIRÉ le intl car inclus dans le SDK
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
    - assets/icons/